<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<h3>最新新闻</h3>
<ul>
    <%= news %>
</ul>
    <input type="button" value="登录">
</body>
</html>