<!doctype html>
<html lang="en" ng-app="cart">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="lib/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <style>
        .line {
            position: fixed;
            z-index: 999999;
            width: 80%;
            height: 5px;
            box-shadow: 0 0 20px #286090;
            background: #286090;
            border-radius: 3px;
        }
    </style>
</head>
<body ng-controller="cartController">
<div class="line">

</div>
<div class="container row-md-offset-3" style="padding-top:100px;">
    <div class="filter form-inline form-group">
        <input type="text" name="" class="form-control" id="" placeholder="请输入要搜索的关键字" ng-model="query">
        <select name="" id="" class="btn btn-default" ng-model="order">
            <option value="">默认排序</option>
            <option value="oneprice">价格</option>
            <option value="num">数量</option>
        </select>
    </div>
    <table class="table table-bordered table-hover text-center">
        <tr>
            <td>选择</td>
            <td>商品名称</td>
            <td>商品数量</td>
            <td>商品价格</td>
            <td>数量</td>
            <td>操作</td>
        </tr>

        <tr ng-repeat="item in dataList | filter:query | orderBy:order">
            <td>
                <input type="checkbox" name="" class="form-inline" ng-checkone="{{item.id}}">
            </td>
            <td ng-bind="item.name"></td>
            <td ng-bind="item.num"></td>
            <td ng-bind="item.oneprice"></td>
            <td>
                <div class="form-group form-inline">
                    <input type="button" value="+" class="btn btn-primary" ng-plus="{{item.id}}">
                    <input type="text" ng-model="item.num" class="text-center form-control">
                    <input type="button" value="-" class="btn btn-primary" ng-minus="{{item.id}}">
                </div>
            </td>
            <td>
                <input type="button" value="删除" class="btn btn-danger" ng-click="remove($index)">
            </td>
        </tr>
        <tr>
            <td colspan="6">
                <nav>
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </td>
        </tr>
        <tr class="info">
            <td>
                <input type="checkbox" name="" ng-checkall>全选
            </td>
            <td colspan="5">
                总数量为：<span ng-bind="totalAmount();"></span>件，总价格为：<span ng-bind="totalPrice() | currency:'￥'"></span>元
            </td>
        </tr>
    </table>
</div>
<script src="lib/bower_components/angular/angular.js"></script>

<script>
    var app = angular.module('cart', []);
    app.controller('cartController', function ($scope) {
        /*
        * todo 数据太多怎么处理分页
        * angular 渲染之前怎么加loading
        * 数字在不输入的情况下怎么默认为 1
        * */
        $scope.dataList = [
            {Bol: 'false', name: '洗衣机', num: 1, oneprice: 900, id: 0},
            {Bol: 'false', name: '热水器', num: 1, oneprice: 110, id: 1},
            {Bol: 'false', name: '空调', num: 1, oneprice: 116, id: 2},
            {Bol: 'false', name: '冰箱', num: 1, oneprice: 2087, id: 3},
            {Bol: 'false', name: '电磁炉', num: 1, oneprice: 135, id: 4},
            {Bol: 'false', name: '洗衣粉', num: 1, oneprice: 135, id: 5},
            {Bol: 'false', name: '微波炉', num: 1, oneprice: 135, id: 6},
            {Bol: 'false', name: '电风扇', num: 1, oneprice: 135, id: 7},
            {Bol: 'false', name: '储橙', num: 1, oneprice: 135, id: 8}
        ];

        //总价格
        $scope.totalPrice = function () {
            var total = 0;
            angular.forEach($scope.dataList, function (data) {
                if (data.Bol === true) {
                    total += data.num * data.oneprice;
                }
            });
            return total;
        };

        //总数量
        $scope.totalAmount = function () {
            var total = 0;
            angular.forEach($scope.dataList, function (data) {
                if (data.Bol === true) {
                    total += parseInt(data.num);
                }
            });
            return total;
        };

        //删除单个产品
        $scope.remove = function (index) {
            if ($scope.dataList[index]) {
                if (confirm('你确定删除后不能再恢复数据哦？')) {
                    $scope.dataList.splice(index, 1);   //todo 删除一条数据重新渲染一次,且删除不正确
                }
            }
        };

    });

    app.directive('ngPlus', function () {
        return {
            restrict: 'EMAC',
            template: '',
            replace: false,
            link: function (scope, element, attr) {
                element.on('click', function () {
                    angular.forEach(scope.dataList, function (data) {
                        if (data.id == attr.ngPlus) {
                            data.num++;
                            scope.$apply(scope.dataList);
                        }
                    })
                })
            }
        }
    });

    app.directive('ngMinus', function () {
        return {
            link: function (scope, element, attr) {
                element.on('click', function () {
                    angular.forEach(scope.dataList, function (data) {
                        if (data.id == attr.ngMinus) {
                            data.num != 1 && --data.num;
                            scope.$apply(scope.dataList);
                        }
                    })
                })
            }
        }
    });

    app.directive('ngCheckone', function () {
        return {
            link: function (scope, element, attr) {
                element.on('click', function () {
                    angular.forEach(scope.dataList, function (data, index) {
                        if (data.id == attr.ngCheckone) {
                            data.Bol = element.prop('checked');
                            scope.$apply(scope.dataList);
                        }
                    })
                })
            }
        };
    });

    app.directive('ngCheckall', function () {   //todo 全选怎么处理
        return {
            link: function (scope, element, attr) {
                element.on('click', function () {
                    angular.forEach(scope.dataList, function (data) {
                        if (element.prop('checked') === true) {
                            data.Bol = true;
                            for (var i = 0; i < document.querySelectorAll('input[type=checkbox]').length; i++) {
                                document.querySelectorAll('input[type=checkbox]')[i].setAttribute('checked', true);
                            }
                        } else if (element.prop('checked') === false) {
                            data.Bol = false;
                            for (var i = 0; i < document.querySelectorAll('input[type=checkbox]').length; i++) {
                                document.querySelectorAll('input[type=checkbox]')[i].removeAttribute('checked');
                            }
                        }
                    });
                    scope.$apply(scope.dataList);
                });
            }
        }
    })

</script>
</body>
</html>

