<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>angular表单</title>
    <link rel="stylesheet" href="lib/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <style>
        /*
            修改过并且验证不通过使用这些样式
        */
        .myform textarea .ng-dirty.ng-invalid,
        .myform select .ng-dirty.ng-invalid,
        .myform input.ng-dirty.ng-invalid {
            border-color: #e9322d;
            -webkit-box-shadow: 0 0 6px #f8b9b7;
            -moz-box-shadow: 0 0 6px #f8b9b7;
            box-shadow: 0 0 6px #f8b9b7;
        }


    </style>
</head>
<body>
<div class="container" ng-controller="formTest">
    <div class="form-wrap col-lg-4 col-lg-offset-1">
        <h3 class="text-center">请填写表单</h3>

        <form action="" class="form-horizontal myform" name="formSign" novalidate ng-submit="">
            <div class="form-group has-feedback">
                <label for="name"> 用户名：</label>
                <input type="text" name="name" id="name" class="form-control" required ng-minlength="6" ng-maxlength="20" ng-model="user.name">
                <p>显示错误信息</p>
            </div>
            <div class="form-group">
                <label for="email">邮箱：</label>
                <input type="email" name="email" id="email" class="form-control" required ng-model="user.email">
                <p>显示错误信息</p>
            </div>
            <div class="form-group">
                <label for="phone">手机号码：</label>
                <input type="number" name="phone" id="phone" class="form-control" required ng-model="user.phone">
            </div>
            <div class="form-group">
                <label for="password1">密码：</label>
                <input type="password" name="password1" id="password1" required ng-minlength="6" ng-maxlength="12" class="form-control" ng-model="user.work">
            </div>
            <div class="form-group">
                <label for="password2">再次输入密码：</label>
                <input type="password" name="password2" id="password2" required class="form-control">
            </div>
            <div class="form-group">
                <label for="url">主页：</label>
                <input type="url" name="url" id="url" class="form-control" required ng-model="user.homepage">
            </div>
            <div class="form-group">
                <label for="select">请选择：</label>
                <select name="" id="select" class="form-control" required  ng-model="user.other">
                    <option value="1" selected>我喜欢篮球</option>
                    <option value="2">我喜欢足球</option>
                    <option value="3">我喜欢玩点什么</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">性别：</label>
                <label for="male">
                    <input type="radio" value=1 name="sex" id="male" ng-model="user.sex"> 男
                </label>
                <label for="female">
                    <input type="radio" name="sex" value=2 id="female" ng-model="user.sex"> 女
                </label>
            </div>
            <div class="form-group">
                <label for="" ng-model="user.work">职业：</label>
                <input type="checkbox" name="" id="" value="11"> 篮球
                <input type="checkbox" name="" id="" value="22"> 足球
                <input type="checkbox" name="" id="" value="33"> 烹饪
                <input type="checkbox" name="" id="" value="44"> 面包师
                <input type="checkbox" name="" id="" value="55"> 程序员
                <input type="checkbox" name="" id="" value="66"> 民工
                <input type="checkbox" name="" id="" value="77"> 入殓师

            </div>
            <div class="form-group">
                <label for="intro">简介</label>
                <textarea name="" id="intro" cols="30" rows="10" class="form-control" ng-model="user.intro"></textarea>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="提交" ng-disabled="!formSign.$valid" class="btn btn-primary">
            </div>
        </form>
    </div>
    <div class="col-lg-4 col-lg-offset-1">
        <h3>表单显示</h3>

        <div class="panel panel-success">
            <div class="panel-heading">
                查看表单
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    用户名：{{user.name}}<br>
                    $pristine 【没修改】：{{formSign.name.$pristine }}<br>
                    $dirty【修改过】：{{formSign.name.$dirty}}<br>
                    $invalid【验证失败】：{{formSign.name.$invalid}}<br>
                    $invalid【验证成功】：{{formSign.name.$valid}}<br>
                    required：{{formSign.name.$error.required}}<br>
                </li>
                <li class="list-group-item">
                    邮箱：{{user.email}}<br>
                    $pristine 【没修改】：{{formSign.email.$pristine }}<br>
                    $dirty【修改过】：{{formSign.email.$dirty}}<br>
                    $invalid【验证失败】：{{formSign.email.$invalid}}<br>
                    $invalid【验证成功】：{{formSign.email.$valid}}<br>
                    required：{{formSign.email.$error.required}}<br>
                </li>
                <li class="list-group-item">
                    手机号码：{{user.phone}}<br>
                    $pristine 【没修改】：{{formSign.phone.$pristine }}<br>
                    $dirty【修改过】：{{formSign.phone.$dirty}}<br>
                    $invalid【验证失败】：{{formSign.phone.$invalid}}<br>
                    $invalid【验证成功】：{{formSign.phone.$valid}}<br>
                    required：{{formSign.phone.$error.required}}<br>
                </li>
                <li class="list-group-item">
                    密码：{{user.password}}<br>
                    $pristine 【没修改】：{{formSign.password.$pristine }}<br>
                    $dirty【修改过】：{{formSign.password.$dirty}}<br>
                    $invalid【验证失败】：{{formSign.password.$invalid}}<br>
                    $invalid【验证成功】：{{formSign.password.$valid}}<br>
                    required：{{formSign.password.$error.required}}<br>
                </li>
                <li class="list-group-item">
                    性别：{{user.sex}}<br>
                    $pristine 【没修改】：{{formSign.sex.$pristine }}<br>
                    $dirty【修改过】：{{formSign.sex.$dirty}}<br>
                </li>
                <li class="list-group-item">
                    主页：{{user.homepage}}<br>
                    $pristine 【没修改】：{{formSign.url.$pristine }}<br>
                    $dirty【修改过】：{{formSign.url.$dirty}}<br>
                    $invalid【验证失败】：{{formSign.url.$invalid}}<br>
                    $invalid【验证成功】：{{formSign.url.$valid}}<br>
                    required：{{formSign.url.$error.required}}<br>
                </li>

                <li class="list-group-item">
                    其他：{{user.other}}<br>
                    $pristine 【没修改】：{{formSign.other.$pristine }}<br>
                    $dirty【修改过】：{{formSign.other.$dirty}}<br>
                    $invalid【验证失败】：{{formSign.other.$invalid}}<br>
                    $invalid【验证成功】：{{formSign.other.$valid}}<br>
                    required：{{formSign.other.$error.required}}<br>
                </li>
                <li class="list-group-item">
                    职业：{{user.work}}<br>
                    $pristine 【没修改】：{{formSign.work.$pristine }}<br>
                    $dirty【修改过】：{{formSign.work.$dirty}}<br>
                </li>
                <li class="list-group-item">
                    简介：{{user.intro}}<br>
                </li>
            </ul>
        </div>
    </div>
</div>


<script src="lib/bower_components/angular/angular.js"></script>
<script src="script/form.js"></script>
</body>
</html>

