html
    head
    body
        a(class='btn' href='http://www.baidu.com') 百度

        input(
            type='checkbox'
            name='hobby'
            checked
        )

        a(style={color:'red',background:'#000'}) 云南省昆明市

        div#foo.bar.abc
            .content
                h1  大标题
                h2  小标题


